.coupon-form {
    display: flex;
    gap: 10px;

    margin-top: 20px;
}

.coupon-form input {
    flex: 1;
    padding: 1rem 2rem;
    
    border: 1px solid var(--color-border);
    
    border-radius: .7rem;
    
    font-size: 1.8rem;
}

.coupon-form button {
    padding: 1.5rem 2rem;

    background-color: var(--color-text);

    color: var(--color-white);
        
    border: none;
    border-radius: 5px;
    
    font-size: 1.8rem;
    
    cursor: pointer;
}

.contact-information .result-calc {
   display: flex;
   justify-content: space-between;

   margin-top: 3rem;

   font-size: 1.8rem;
}

.contact-information .label, 
.contact-information .price {
    margin-top: 1.5rem;

    color: var(--color-text-muted);
    font-weight: 600;
}

.contact-information .label.first, 
.contact-information .price.first {
    margin-top: 0;
}