.container {
    max-width: 1350px;
    
    margin: auto;

    background: var(--color-white);
    
    min-height: 100vh;

    position: relative;
    
    display: flex;
    flex-direction: column;
}