.contact-information {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;

  background-color: var(--color-white);

  border-top-right-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;

  width: 50%;

  padding: 3.5rem;
}

.contact-information .subtitle {
  font-size: 1.8rem;
  font-weight: 700;

  color: var(--color-text);
}

.contact-information .contact-form {
  display: flex;
  flex-direction: column;
  gap: 3rem;

  margin-top: 2rem;
}

.contact-information label {
  font-size: 1.7rem;
  font-weight: 700;

  color: var(--color-text-muted);
}

.contact-information input[placeholder] {
  padding: 2rem;

  border-radius: 1rem;
  border: 1px solid var(--color-text-muted);

  background-color: var(--color-bg);

  font-size: 1.7rem;
  
  font-weight: 700;
}

.contact-information .country_and_postal-code {
  display: flex;
  gap: 1.5rem;
}

.contact-information .wrapper-country {
  flex: 1;
}

.contact-information select {
  padding: 2rem;
  margin-top: 1.5rem;

  width: 100%;

  border-radius: 1rem;
  border: 1px solid var(--color-text-muted);

  background-color: var(--color-bg);

  color: var(--color-text-muted);

  font-size: 1.7rem;
  
  font-weight: 700;
}

.contact-information .wrapper-postal-code {
  display: flex;
  flex-direction: column;
}

.contact-information #postal-code {
  margin-top: 1.5rem;
}

.contact-information button {
  padding: 2rem;

  width: 100%;

  border-radius: 1rem;
  border: none;

  background-color: var(--color-text);

  color: var(--color-white);

  font-size: 1.8rem;
  
  font-weight: 700;

  cursor: pointer;
}

.contact-information button:active {
  background-color: var(--color-text-muted);  
}