.coupon-and-price-information .coupon-form {
    display: flex;
    gap: 1rem;

    margin-top: 2rem;
}

.coupon-and-price-information input {
    flex: 1;
    
    padding: 1rem 2rem;
    
    border: 1px solid var(--color-border);
    
    border-radius: .7rem;
    
    font-size: 1.8rem;
}

.coupon-and-price-information button {
    padding: 1.5rem 2rem;

    background-color: var(--color-text);

    color: var(--color-white);
        
    border: none;
    border-radius: 5px;
    
    font-size: 1.8rem;
    
    cursor: pointer;
}

.coupon-and-price-information .result-calc {
   display: flex;
   justify-content: space-between;

   margin-top: 2rem;

   font-size: 1.8rem;
}

.coupon-and-price-information .price {
    display: flex;
    justify-content: flex-end;
}

.coupon-and-price-information .label, 
.coupon-and-price-information .price {
    margin-top: 1.5rem;

    color: var(--color-text-muted);

    font-weight: 600;
}

.coupon-and-price-information .label.first, 
.coupon-and-price-information .price.first {
    margin-top: 0;
}

.coupon-and-price-information .label.total-price,
.coupon-and-price-information .price.total-price {
    color: var(--color-text);
}

