.header {
    background: url('../resources/background-image.png') no-repeat;
    background-size: cover;
   
    width: 100%;
    height: 15rem;
    
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.header > .title {
    padding-top: 3rem;

    text-align: center;

    font-size: 2rem;

    font-weight: 600;
    
    color: var(--color-white);
}

.header > .title > .itens-count {
    background-color: var(--color-text);
    
    font-size: .9rem;
    
    padding: .5rem;
    
    border-radius: .5rem;
}