.header {
    background: url('../resources/background-image.png') no-repeat;
    background-size: cover;
   
    height: 25rem;
    
    display: flex;
    justify-content: center;

    padding-top: 6rem;
}

.header > .title {
    font-size: 3rem;
    font-weight: var(--font-weight-semi-bold);
    
    color: var(--color-white);
}

.header > .title > .itens-count {
    background-color: var(--color-text);
    
    margin-left: .5rem;

    font-size: 1.5rem;
    
    padding: .4rem .8rem;
    
    border-radius: 1rem;
}