main {   
    position: absolute;
    top: 15%;
    left: 2.5%;

    transform: none;

    width: 95%;
    
    color: var(--color-white);

    display: flex;
    
    transition: var(--transition);
}