main {
    background-color: var( --color-bg-muted);
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -150%);
    
    width: 95%;

    color: var(--color-white);

    border-radius: 1rem;
}