:root {
    --color-text: #1D1D1F;
    --color-text-muted: #394150;
    --color-border: #D2D5DA;
    --color-bg: #F3F4F6;
    --color-bg-muted: #E5E7EB;
    --color-white: #FFFFFF;
    
    --font-weight-regular: 400;
    --font-weight-semi-bold: 600;
    --font-weight-bold: 700;
    
    --transition: all 0.3s ease;
    --transition-bg: background-color 0.3s ease;
}